
###> symfony/framework-bundle ###
/server/.env.local
/server/.env.local.php
/server/.env.*.local
/server/config/secrets/prod/prod.decrypt.private.php
/server/public/bundles/
/server/var/
/server/vendor/
/server/.env
###< symfony/framework-bundle ###
apache
docker-compose.yml
server/.env
