html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: white;
  font-family: "Helvetica", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

#logo {
  width: 100px;
  height: 100px;
}

main {
  margin: 2%;
  flex-grow: 1;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  background-color: #14223C;
  gap: 15px;
}

footer {
  background-color: #14223C;
  color: white;
  padding: 5px;
  text-align: center;
}

.table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 80%;
  margin-bottom: 30px;
}

.table th {
  padding: 10px;
  text-align: left;
  border: 1px solid #606060;
  background-color: #00B8DE;
}

.table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}
