.form-group {
  align-items: flex-start;
  padding : 5px
}

.form-group input {
  border-radius: 5px;
  border-width: 1px;
}

.form-confirm {
  background-color: #b1ca34;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  color: white;
  font-weight: bold;
}

.form-confirm:hover {
  background-color: #a2b923;
}