/* Styles généraux pour le formulaire */
.form-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Style des champs du formulaire */
.form-group {
    margin-bottom: 15px;
}

/* Labels */
.form-group label {
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

/* Champs de saisie */
.form-control { 
    width : 95%;
    padding: 10px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
}

.form-control:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Messages d'erreur */
.form-errors {
    color: #dc3545;
    font-size: 14px;
    margin-top: 5px;
}

/* Bouton de soumission */
.btn-primary {
    width: 100%;
    padding: 10px;
    background-color: #b1ca34;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #89a812;
}
