<!DOCTYPE html>
<html lang="fr">
<head>    
    <title>{% block title %}Wishlist App{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="{{ asset('ressources/images/logo.png') }}">
    <link rel="stylesheet" href="{{ asset('css/default.css') }}">
    
    {% block style %}
    {% endblock %}
</head>
<body>

    {# Bandeau contenant le logo et le titre #}
    <header>
        <img src="{{ asset('ressources/images/logo.png') }}" id="logo">
        <h1> {{title | default("Webapp")}} </h1>
    </header>

    {# Contenu spécifique des pages #}
    <main>
        {% block body %}{% endblock %}
    </main>


    <footer>
        <p> Webapp Project - Group 3 </p>
    </footer>

</body>
</html>