{% extends 'base.html.twig' %}

{% block title %}Message and Upload{% endblock %}

{% block body %}
    <h1>Envoyer un message et un fichier</h1>

    <form action="{{ path('app_purchase_proof',{'display_url': display_url, 'item_id' : item_id}) }}" method="post" enctype="multipart/form-data">
        <label for="message1"> Name and surname :</label>
        <textarea id="message1" name="message1" rows="4" cols="50"></textarea>

        <label for="message2">Congratulory message :</label>
        <textarea id="message2" name="message2" rows="4" cols="50"></textarea>

        <label for="file">Pick a file :</label>
        <input type="file" id="file" name="file">

        <button type="submit">Envoyer</button>
    </form>
{% endblock %}
